- return if Feature.disabled?(:compliance_pipeline_in_policies, @group)

- link = link_to('', help_page_path('user/application_security/policies/scan-execution-policies', anchor: 'pipeline-execution-policy-action'), target: '_blank', rel: 'noopener noreferrer')
- toggle_security_policy_custom_ci_locked = cascading_namespace_setting_locked?(:toggle_security_policy_custom_ci, @group)

.form-group.gl-mb-3
  .gl-form-checkbox.custom-control.custom-checkbox
    = f.check_box :toggle_security_policy_custom_ci, checked: @group.namespace_settings.toggle_security_policy_custom_ci?, disabled: toggle_security_policy_custom_ci_locked, class: 'custom-control-input'
    = render 'shared/namespaces/cascading_settings/setting_label_checkbox', attribute: :toggle_security_policy_custom_ci,
        group: @group,
        form: f,
        setting_locked: toggle_security_policy_custom_ci_locked,
        settings_path_helper: ->(locked_ancestor) { edit_group_path(locked_ancestor, anchor: 'js-permissions-settings') },
        help_text: safe_format(s_('Create and enforce custom CI jobs and scripts using this new policy action. %{link_start}Learn more%{link_end}.'), tag_pair(link, :link_start, :link_end)) do
      %div
        = s_('Settings|Security policy pipeline execution action')
        = render 'shared/experimental_badge_tag'
    = render 'shared/namespaces/cascading_settings/enforcement_checkbox',
        attribute: :toggle_security_policy_custom_ci,
        group: @group,
        form: f,
        setting_locked: toggle_security_policy_custom_ci_locked
